@import "../../../../styles/mixins";
@import "../../../../styles/typography";

.porftolioCart {
  width: calc(33% - 80px);
  flex-grow: 1;

  @include lg-max {
    width: calc(50% - 50px);
  }

  @include md-max {
    width: 100%;
  }

  .imgWrap {
    border-radius: 8px 8px 0 0;
    overflow: hidden;
    @include flex(column, flex-start, center);

    img {
      object-fit: cover;
      height: 200px;
      width: 100%;

      @include sm-max {
        height: 300px;
      }
    }
  }
  .abstract {
    border-radius: 0 0 4px 4px;
    @include flex(column, flex-start, space-between);
    transition: var(--transition);
    height: 270px;
    text-align: left;
    padding: 10px 20px;
    background-color: var(--color-light);

    @include sm-max {
      height: auto;
    }

    h3 {
      z-index: 9;
      text-transform: uppercase;
      font-family: var(--header-font);
      letter-spacing: 1px;

      @include md-max {
        height: auto;
      }
    }

    p {
      font-size: 16px;
      height: 100%;

      @include sm-max {
        padding: 10px 0;
      }
    }
  }
}
