@import "../../../styles/mixins";

.offer {
  @include flex(column, center, space-between);
  padding: 70px 0 90px 0;
  overflow: hidden;

  h2 {
    color: var(--color-light);

    &::after {
      margin: auto;
    }
  }

  .offerCart {
    @include flex(row, center, space-between);
    flex-wrap: wrap;
    margin-top: 50px;
    width: 100%;

    gap: 20px;

    @include sm-max {
      margin-top: 100px;
      margin-bottom: 50px;
      gap: 100px;
    }
  }
}
