@import "../../../styles/mixins";

.offer {
  @include flex(column, center, space-between);
  padding: 70px 0 90px 0;
  flex-wrap: wrap;
  overflow: hidden;

  h2 {
    color: var(--color-light);

    &::after {
      margin: auto;
    }
  }

  .offerCart {
    @include flex(row, flex-start, space-between);
    width: 100%;
    padding: 30px 0;

    @include md-max {
      flex-direction: column;
    }

    @include lg-max {
      flex-wrap: wrap;
    }

    @include lg-min {
      flex-wrap: wrap;
    }
  }
}
