@import "../../../styles/mixins";
@import "../../../styles/variable";

.languageLocationWrap {
  color: var(--color-light);
  margin-left: 2rem;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  border-right: 1px solid var(--color-light);
  padding: 2px 20px;
  border-radius: 0;

  option {
    background-color: var(--color-dark);
    border-radius: none;
    cursor: pointer;
  }
}
