@import "../../../styles/mixins";

.aboutPage {
  overflow: hidden;
  word-wrap: break-word;
  text-align: justify;

  //HEADER
  .splashBackgroundImg {
    @include splash;
    position: relative;
    background-image: url("../../../images/photos/splash.jpg");
    min-height: 100svh;
    @include flex(column, center, center);

    @include sm-max {
      height: 100svh;
    }

    &::before {
      background-color: rgba(0, 0, 0, 0.7);
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      z-index: -8;
    }

    video {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -9;
    }
  }

  //OUR PEOPLE
  .ourPeople {
    overflow: hidden;
    padding: 70px 0 90px 0;
    display: grid;
    grid-auto-flow: column;
    align-content: center;

    gap: 80px;
    flex-wrap: wrap;
    min-height: 100svh;
    height: 100svh;

    @include md-max {
      height: auto;
      grid-auto-flow: row;
      align-content: space-between;
    }
  }

  //TEAM
  .team {
    padding: 120px 0 90px 0;
    background-color: var(--color-grey);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
  }

  //OFFERS

  .offers {
    padding: 120px 0 90px 0;

    .headerTextWrap {
      h2,
      h3 {
        text-align: left;
        text-transform: uppercase;
      }

      p {
        text-align: justify;
        padding: 30px 0 60px 0;
        width: 70%;

        @include lg-max {
          width: 100%;
        }
      }
    }

    .offersCart {
      @include flex(column, center, space-between);
      gap: 20px;
    }

    .cart {
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      width: 100%;

      .text {
        padding: 30px;
        width: 50%;

        @include md-max {
          width: 100%;
        }

        h6 {
          text-align: left;
        }

        .cartNumb {
          font-weight: var(--fw-900);
          font-size: 25px;
        }

        .title {
          font-weight: bold;
          font-size: 16px;
          text-transform: uppercase;
        }
      }

      .imgWrap {
        width: 50%;
        align-items: left;
        height: 420px;

        @include lg-max {
          width: 50%;
          height: 450px;
        }

        @include md-max {
          height: 450px;
          width: 100%;
        }

        @include sm-max {
          display: none;
        }

        img {
          height: 100%;
          object-fit: cover;
          width: 100%;
        }
      }
    }
    .odd {
      flex-direction: row-reverse;

      .text {
        background-color: var(--color-green-dark);
        color: var(--color-light);
      }
    }

    .even {
      .text {
        background-color: var(--background-color);
      }
    }
  }

  .location {
    min-height: 85svh;
    padding: 70px 0 90px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.callToActionBackground {
  background-color: var(--color-green-dark);
  padding: 100px 0;
  min-height: 30svh;

  @include lg-max {
    display: flex;
    align-items: center;
  }

  @include md-max {
    padding: 20px 0;
    min-height: 40vh;
  }

  @include sm-max {
    min-height: 50vh;
    height: 50vh;
  }
}
