@import "../../../styles/mixins";

.mission {
  @include flex(row, center, center);
  padding: 50px 0 90px 0;
  text-align: justify;
  text-justify: inter-word;
  min-height: 70vh;
  background-color: var(--color-light);

  h2 {
    color: var(--color-dark);

    &::after {
      margin: left;
    }
  }
}
