@import "../../../styles/mixins.scss";

.dropdownMenu,
.link {
  color: var(--color-light);
  text-transform: uppercase;
  cursor: pointer;
  width: 80%;
  transition: var(--transition);
  padding: 20px;

  .nestedNav {
    @include flex(column, center, center);
    background-color: lighten($color: black, $amount: 10);
    margin-top: 20px;
  }
}

.link {
  &:hover {
    background-color: var(--color-main);
    color: var(--color-light);
  }
}
