@import "../../../styles/mixins";
@import "../../../styles/typography.scss";

.bannerContainer {
  min-height: 85vh;
  background: var(--background-radial);
  @include flex(column, center, center);
  overflow: hidden;

  @include lg-max {
    padding: 120px 0 90px 0;
  }

  @include sm-max {
    min-height: 100vh;
    justify-content: space-around;

    .container {
      height: 100%;
    }
  }
}
