@import "../../../styles/mixins";

.contact {
  background-image: url("../../../images/photos/splash.jpg");
  @include splash;

  &::before {
    background-color: rgba(0, 0, 0, 0.9);
  }
}

.header {
  background-color: var(--color-green-dark);
  @include flex(column, center, center);
  margin-bottom: 70px;
}

.contactPage {
  @include flex(row, stretch, space-between);

  background-color: white;
  padding: 30px;
  border-radius: 4px;
}

.requestToCall {
  margin-top: 70px;
  background-color: var(--color-green-dark);
}

.text {
  @extend .text;
  color: var(--color-light);
  padding-bottom: 27px;

  @include sm-max {
    padding-bottom: 0;
  }
}
