@import "../../../styles/mixins";

.mission {
  @include flex(row, center, space-between);
  padding: 50px 0 90px 0;
  text-align: justify;
  text-justify: inter-word;

  h2 {
    color: var(--color-dark);

    &::after {
      margin: left;
    }
  }
}
