@import "../../../styles/mixins";
@import "../../../styles/variable";

.navigation,
.navigationActive {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px 0;
  z-index: 999;
  width: 100%;
  transition: var(--transition);

  .navWrap {
    @include flex(row, center, space-between);
    transition: var(--transition);
    transition-delay: --var(--deley);
    overflow: visible;
  }

  .navigationLogo {
    @include flex(column, center, center);
    position: relative;
    z-index: 2;
    font-size: var(--fs-1);
    margin: 0.2em 0;

    img {
      width: 85px;
      object-fit: contain;
    }
  }

  .navLangOptionsWrap {
    @include flex(row, center, space-between);

    .navigationList {
      @include flex(row, center, flex-end);
      text-transform: uppercase;
      position: relative;

      @include lg-max {
        display: none;
      }
    }
    .lanRegWrap {
      // width: 80%;
      // margin-bottom: 2rem;
      display: flex;
      // justify-content: center;
      // align-items: center;
      // width: 200px;
    }
  }

  .sidebarIcon {
    display: none;
    cursor: pointer;
    width: 20px;
    height: 20px;

    @include lg-max {
      display: block;
    }

    img {
      @include img;
    }
  }
}

.navigationActive {
  padding: 0px 0;
  background-color: var(--color-dark);
  backdrop-filter: blur(10px);
}

.sidebar {
  @include flex(column, center, center);
  position: absolute;
  background-color: rgba(0, 0, 0, 1);

  width: 100%;
  height: 100vh;
  top: 0%;
  right: 0;
  transition: var(--transition);
  transition-delay: 0.1s;
  z-index: -90;
  overflow-y: auto;

  @include lg-min {
    display: none;
  }
}
