@import "../../../styles/mixins";

.banerWrap {
  position: fixed;
  width: 100%;
  min-height: 20%;
  padding: 40px 30px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
  bottom: 0px;
  z-index: 111;
  //   background-color: var(--color-light);
  @include flex(column, flex-start, space-between);

  @include sm-max {
    padding: 20px 10px;
  }
}
